<h2><%= link_to(l(:label_project_alias_plural), { :controller => 'project_aliases', :action => 'index' }) %> &#187; <%= l(:label_project_alias_new) %></h2>

<%= error_messages_for 'alias' %>

<% form = form_for(@alias, :url => { :action => 'create' }, :builder => (defined? TabularFormBuilder) ? TabularFormBuilder : Redmine::Views::LabelledFormBuilder) do |f| %><!-- FIXME: Chili 3 -->
  <div class="box tabular">
    <p>
      <%= f.text_field(:alias, :size => 60, :required => true) %><br />
      <em>
        <%= l(:text_length_between, :min => 1,
                                    :max => Project.const_defined?(:IDENTIFIER_MAX_LENGTH) ? Project::IDENTIFIER_MAX_LENGTH : 20) %>
        <%= l(:text_allowed_characters) %>
      </em>
    </p>
    <p><%= f.select(:project_id, @projects.collect { |p| [ "#{p.name} (#{p.identifier})", p.id ] }, :include_blank => true, :required => true) %></p>
  </div>
  <p><%= f.submit(l(:button_create)) %></p>
<% end %>

<%= form if Rails::VERSION::MAJOR >= 3 %>
